@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.App {
    text-align: center;
  }
    
.body {
    background-color: rgb(97, 161, 216);
  }

.header__main {
  background-color: white;
  position:fixed;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  z-index: 1;
}

.header {
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 0px;
  }

  nav ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 25px;
    margin-left: 125px;
    font-size: 20px;
    float: left;
  }
  
  nav li {
    display:inline-block;
    margin-right: 20px;
    position:relative;
    font-family: "Oswald";
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .logo_div {
    float:flex;
    position:fixed;
  }

.logo{
    position: relative;
    cursor: pointer;
    top: 1vh;
    height: 7vh;
  }

.logo:hover {
    transform: scale(1.03);
}